.container {
    width: 400px;
    height: 400px;
    margin: 100px auto;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
button, button::after {
    position:relative;
    height: 44px;
    width: 160px;
    line-height: 44px;
    font-size: 14px;
    color:#fff;
    outline: none;
    border: none;
    background: linear-gradient(45deg, transparent 5%, red 5%);
    box-shadow: 3px 0 0 blue;
}
button::after {
    display: block;
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    content:'happy new year';
    background: linear-gradient(45deg, transparent 3%,blue 3%,blue 5%, red 5%);
    text-shadow: -2px -2px 0 blue, 2px 2px 0 blue;
    clip-path: inset(20px,20px,20px,20px);
}
button:hover::after{
    animation: shangshuo 1s steps(2, end) ;
}
@keyframes shangshuo{
    0% {
        clip-path: inset(20%,-3px,60%,0);
        -webkit-clip-path: inset(20%,-3px,60%,0);
        transform: translate(-10px, -50px);
      }
    10% {
        clip-path: inset(50%,-3px,30%,0);
        -webkit-clip-path: inset(50%,-3px,30%,0);
        transform: translate(5px, 5px);
    } 
    20% {
        clip-path: inset(30%,-3px,50%,0);
        -webkit-clip-path: inset(30%,-3px,50%,0);
        transform: translate(-5px, 5px);
    } 
    30% {
        clip-path:inset(20%,-3px,60%,0);
        -webkit-clip-path:inset(20%,-3px,60%,0);
        transform: translate(0px, 3px);
    }
    40% {
        clip-path:inset(60%,-3px,30%,0);
        -webkit-clip-path:inset(60%,-3px,30%,0);
        transform: translate(-3px, 0px);
    }
    50% {
        clip-path:inset(50%,-3px,30%,0);
        -webkit-clip-path:inset(50%,-3px,30%,0);
        transform:translate(3px, 0px);
    } 
    60% {
        clip-path:inset(80%,-3px,0,0);
        -webkit-clip-path:inset(80%,-3px,0,0);
        transform:translate(3px, 5px);
    } 
    70% {
        clip-path:inset(20%,-3px,60%,0);
        -webkit-clip-path:inset(20%,-3px,60%,0);
        transform: translate(-5px, 5px);
    }
    80% {
        clip-path: inset(40%,-3px,40%,0);
        -webkit-clip-path: inset(40%,-3px,40%,0);
        transform: translate(10px, -5px);
    } 
    90% {
        clip-path:inset(60%,-3px,20%,0);
        -webkit-clip-path:inset(60%,-3px,20%,0);
        transform: translate(-5px, 0px);
    } 
    100% {
        clip-path:inset(20% ,-3px,60%,0);
        -webkit-clip-path:inset(20%,- 3px,60%,0);
        transform: translate(0);
    }
}